
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    /*scroll-behavior: smooth;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

#primeraParte, footer{
    background-color: #FEF4F4;
}

body {
    font-family: "Roboto",sans-serif;
    font-size: large;
}
.carrouselPublicacionDestacada{
    box-sizing: border-box;
    background-color: #FEF4F4;


}
.publicacionDestacada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.botonNext{
    background-color: #f17676;
    margin: 1em;
}

.botonPrev{
    background-color: #121b40;
    margin: 1em;
}

.tituloCarousel{
    font-size: 2em;
    color: #606060;
    padding: 0.5em;
}

.cajaTituloCarousel{
    background-color: #ffdddd;
    max-height: fit-content;
    padding: 0;
    margin: 2%;
    
}

.d-block{
    width: 60vh;
    height: auto;
}

#cajaTituloCienciaFiccion{
    background-image: url("../img/space.jpg");
    opacity: 0.9;
}

#cajaTituloHistoria{
    /*background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0.4)), url("../img/history.jpg");*/
    background-image: url("../img/history.jpg");
    opacity: 0.8;
}

#cajaTituloRomanticos{
    background-image: url("../img/romance.jpg");
    opacity: 0.8;
}

#cajaTituloInfantiles{
    background-image: url("../img/infantil.jpg");
    opacity: 0.8;
}

#imagenDestacada{
    display: flex;
    height: 10em;
    width: auto;
}

.indice{
    background-color: #ffdddd;
    padding:10px;
    margin:0;

}
.elementoIndice{
    padding: 10px;
    margin: 10px;
    display: inline;
}

.elementoReferencias{
    padding: 10px;
    margin: 0 4px;
}

.referencia:hover{
    background-color:#e71b1b;
    color: #ffffff;
}

.referencia:hover i {
    color: #ffffff;
}

#indiceReferencias {
    padding: 10px;
}

.descripcion{
    box-sizing: border-box;
    margin: 3% 0 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.links{
    box-sizing: border-box;
    display: inline-block;
    width: 60%;
}

.categorias1, .categorias2, .otrasPestañas{
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
}

a{
    text-decoration:none;
    color:#5a5858;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

a:hover {
    transform: scale(1.15);
}

.botonVerMas{
    border-radius: 10%;
    padding: 2%;
    border: #BBBBBB 1px solid;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}


.indice li a:hover{
    cursor: pointer;
    background-color: #f17676;
    border-radius: 15px;
    color: white;
    padding: 10px; /* Espaciado interno para el contenido del botón */
    
}

.ultimosPublicados{
    display: grid;
    background-color: rgb(248, 224, 224);
    margin: 3%;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 5% auto auto;
}

.publicacion{
    padding: 10px;
    margin: 10px;
    border: 2px solid #ffdddd;
    border-radius: 10px;
    background-color: #FEF4F4;
}
#primerafila{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

#segundafila{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}
.box6{
    grid-column: span 6;
}

.box4{
    grid-column: span 4;
}

.box8{
    grid-column: span 8;
}

.box2{
    grid-column: span 2;
}

.box1{
    grid-column: span 1;
}
.box12{
    grid-column: span 12;
}

/*
combios leonardo   
*/
.contImgl{
    margin-top: 10px;
    width: 200px;
    height: 300px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: #ffdddd;
}

.imgl{
    width: 100%;
    height: 100%;
}

.publicacion:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.titulo{
    margin-top: 10px;
    font-weight: bolt;
    font-size: 1.5rem;
}

.autor{
    color: #e71b1b;
}

.precio{
    margin-top: 5px;
}

p{
    font-size: 1rem;
    font-weight: bold;
}

/*
cambios leonardo
*/

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4%;
}

.lista{
    list-style: none;
}

.lista-flex{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.lista-flex li {
    background-color: #ffffff;
    border: 2px solid #BBBBBB;
    border-radius: 30% 30% 30% 30%;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.8s ease;
  }

.lista-flex li:hover {
    background-color: #e71b1b;
    border: 2px solid #e71b1b;
    color:#ffffff;
  }

.ultimosTexto{
    grid-column-start: 2;
    padding-left: 5%;
} 

.boton{
    margin: 2%;
    padding: 10px 20px; /* Espaciado interno para el contenido del botón */
    font-size: 16px; /* Tamaño de fuente */
    background-color: #f17676; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Efecto de transición suave */
}

.boton:hover{
    background-color: #e71b1b;
}

.footer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.categorias1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.categorias2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.listaFooter li{
    padding: 5px 0 5px 0;
}

.derechos{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloCategoria, .tituloPestañas{
    padding: 25px 0 25px 0;
    color:#121b40
}

.imgFooter{
    width: 50%;
    height: auto;
}

.BestSellers{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 2%;
}

.SemanalesTitulo{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

#exitosTitulo{
    display: flex;
    align-items: center;
    grid-column: 1/7;
    grid-row: 1;
    margin-left:10%;
}

#verMas{
    grid-column: 7/10;
    grid-row: 1;
    margin-right:20%;
}
#ganadorSemanal{
    max-width: 400px;
    grid-column: 10/13;
    grid-row: 1/4;
}
#ganadorSemanal img{
    width: 100%;
    height: auto;
}

#topLibros{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/10;
    grid-row: 2/4;
    background-color: #ffdddd;
    margin:0 6%;
}
#tituloLibroTop{
    font-size: 2.5em;
    padding-bottom: 2%;
}

#autorLibroTop{
    font-size: 0.9em;
    color:#555555
}

.flexRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#precioLibroTop{
    padding-top: 10%;
    font-size: 2.5em;

}
#calificacionLibroTop{
    font-size: 1.2em;
    color:#555555;
    display: inline;
    max-width: 150px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.imgStars{
    width: 100%;
    height: auto;
}

.starsUltimosPublicados{
    width: 40%;
    height: auto;
}

.puntaje{
    display: flex;
    justify-content: center;
    align-items: center;

}

.puntaje, p{
    padding-left: 0.5em;
}


.ml-10{
    margin-left: 10%;
}

.referencia{ 
    display: inline-block;
    border: 2px solid #CCCCCC;
    border-radius: 100%;
    margin: 5px;
    transition: all 0.8s ease;
}

.about{
    padding: 5%;
    font-size: 200%;
    color: #606060;
    margin: 2% 5%;
    background-image: linear-gradient(#ffdddd, rgba(255, 255, 255, 0.7)), url("../img/books.png");
}


.sectionAbout{
    margin: 3% 20%;
}

#sobreNosotros, #quienesSomos{
    font-weight: normal;
    color: #808080
}

@media (min-width: 300px) and (max-width: 900px){
    .flexCenter{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .BestSellers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 2%;
    }
}


