* {
    margin: 0;
    padding: 0;
}

#primeraParte, footer{
    background-color: #FEF4F4;
}

body {
    font-family: "Roboto",sans-serif;
    font-size: large;
}

.referencia{ 
    display: inline-block;
    border: 2px solid #CCCCCC;
    border-radius: 100%;
    margin: 5px;
}

.indice{
    background-color: #ffdddd;
    padding: 10px;

}
.elementoIndice{
    padding: 10px;
    margin: 10px;
    display: inline;
}

.elementoReferencias{
    padding: 10px;
    margin: 0 4px;
}

#indiceReferencias {
    padding: 10px;
}

.descripcion{
    box-sizing: border-box;
    margin: 3% 0 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.links{
    box-sizing: border-box;
    display: inline-block;
    width: 60%;
}

.categorias1, .categorias2, .otrasPestañas{
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
}

a{
    text-decoration:none;
    color:#5a5858;
}

.ultimosPublicados{
    display:grid;
    background-color: rgb(248, 224, 224);
    margin: 3%;
    grid-template-columns: repeat(12, 1fr);
}

.publicacion{
    padding: 10px;
    margin: 10px;
    border: 2px solid #ffdddd;
    border-radius: 10px;
    background-color: #FEF4F4;
}
.box6{
    grid-column: span 6;
}

.box4{
    grid-column: span 4;
}

.box2{
    grid-column: span 2;
}

.box1{
    grid-column: span 1;
}
.box12{
    grid-column: span 12;
}

.flexCenter{
    display: flex;
    justify-content: center;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    width: 90%;
    height: auto;
}

.lista{
    list-style: none;
}

.lista-flex{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.lista-flex li {
    background-color: #ffffff;
    border: 2px solid #BBBBBB;
    border-radius: 30% 30% 30% 30%;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.8s ease;
  }

.lista-flex li:hover {
    background-color: #e71b1b;
    border: 2px solid #e71b1b;
    color:#ffffff;
  }

.ultimosTexto{
    display: flex;
    align-items: center;
    padding-left: 5%;
} 


.boton{
    margin: 2%;
    padding: 10px 20px; /* Espaciado interno para el contenido del botón */
    font-size: 16px; /* Tamaño de fuente */
    background-color: #f17676; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Efecto de transición suave */
}

.boton:hover{
    background-color: #e71b1b;
}

.footer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.categorias1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.categorias2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.listaFooter li{
    padding: 5px 0 5px 0;
}

.derechos{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloCategoria, .tituloPestañas{
    padding: 25px 0 25px 0;
    color:#121b40
}

.imgFooter{
    width: 50%;
    height: auto;
}