
*{box-sizing: border-box}

.barraDeNavegacion{
    background-color: rgb(253, 253, 152);
    position: sticky;
    
}
/* comienzo modificacion charly */
.navegacionPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 100px; /* es correcto el tamaño? */

    
.menu {
    display: none; /* Oculta el menú por defecto en pantallas pequeñas */
}
    /* PODEMOS ELIMINAR MENU y crear desplegable, a charlar */

.PublicacionLibro{
    display:inline-block;
}

.FotoLibro {
    width: 210px;
    height: 340px;
    margin: 5px; 

}
.Titulo { 
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}

.Ubicacion {
    display:inline
}

#mapita {
    margin: 40px;
    position: relative;
    bottom: 5px;
}
input[type=button], input[type=submit] {
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
  }

form label{
    font-weight: bold;
    
}
.datosDeContacto{
    display: inline-block;
    margin-left: 35px;
    position: relative;
    bottom: 100px;
}

.dato{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 17px;
}


#leyendaFooter {
    text-align: center;
}


